@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Roboto Mono", monospace;
    /* sección colors */

    --primary: #690dfd;
    --secondary: #365b83;
    --green: #42b883;
    --yellow: #ffab00;
    --red: #ff4d4f;
    --info: #00a7dc;
    --light: #f0f2f5;
    --dark: #1a1a1a;
    --gris: #262626;
    --dark-blue: #0f1d3c;
    --dark-transparent: rgba(15, 29, 60, 0.8);

    /* others */
    color-scheme: light dark;
    /* FIREFOX scrollbar disable */
    scrollbar-width: none;
}


body {
    margin: 10% 0 0 0;
    width: 100%;
    height: 100%;
    --color: #cacaca;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

::-webkit-scrollbar {
  display: none;
}